body{ 
	background-color: #000;
	background-image:url('../img/GOTfooterbg.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size:cover;
	
	font-family: "Baskerville";
	font-size: 14px;

}

.jumbotron{
	position: absolute;
	bottom:10px;
	left:0;
	width: 100%;

}


.subtitle h2{
	display: inline;
	margin: 0;
	color: #aaa;
}



.container p{
    color: #e60b0b
    
}


.btn {
background-color: #000;
    
}

.btn:hover{
 background-color: #ff0000;   
}

p.normaltext{
	color: #333;
}


.imgbutton{
  width:32%%;
  height: 180px;
  background-image: url("../img/stark.jpg");
}

.imgtext{
  width:160px;
  height:40px;
  background: #722E31;
  opacity: 0;



}

.imgbutton:hover .imgtext{
  opacity: 0.5;
  text-align: top;
  color: #fff;
  font-size: 18px;
  padding: 80px;
  font-weight: 700;
}
	