.questionContainer{
	display: block;
	height: 60%;
	padding: 10px;
}

.answerContainer{
	display: block;
	height: 40%;


}

.answerBlock{

	background-color: #333;
	border: 1px solid #fff;
	display: block;
	width: 50%;
}

<<<<<<< HEAD
.correct{

	border: 1px solid #009966;
}

.incorrect{
	border: 1px solid #780000;
}	
=======
.btn-lg {
background-color: #000;
}
	
>>>>>>> 1eb96f80fcfe92c5f9748e21e34520aea0b0dad0


.buttondemoBasicUsage {
  /** From vulcanized demo **/ }
  .buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
  .buttondemoBasicUsage md-content {
    margin-right: 7px; }
  .buttondemoBasicUsage section .md-button:not(.md-fab) {
    min-width: 10em; }
  .buttondemoBasicUsage section .md-button {
    display: block;
    margin: 1em;
    line-height: 25px; }
  .buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px; }

