
body{

  
  background-image: none;
}



.questionContainer{
  display: block;
  height: 50%;
  padding: 10px;
  width: 100%;
}

.borderBottom h2{
  border-bottom: 1px solid red;
  text-align: left;
  width:60%;
  margin-left: 10%;
}

.leaderboard h2{
  
  text-align: left;
  width:40%;
  margin-left: 10%;
}

.btn {
background-color: #red;
width: 40%;
height: 40px;
border-radius: 0 !important;
border: 1px solid white;
margin-right: 10px;
display: inline-block;


}

.buttonContainer{
  margin-top: 100px;
margin-left: 2%;

height: 40;
}


.quizpgcontainer .jumbotron{
  padding: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  top: 0px;
  display: inline-block;
  height: 100%;
  border: 1px solid white;
  background-color: #333;
  color: white;
  
}

.container .jumbotron{
  padding: 0;
   margin-left: 0;
  margin-right: 0;
}

