#scorebar 
{
    display: black;
    height: 41px;
    margin-top: 0px;
    width: 100%;
    background-color: #fff;
}


.bar_qnumber 
{
    display: inline-block;
    width: 70px;
    height: 20px;
    margin-top: 10px;
    margin-left: 14%;
    float: left;
    color: #000;
}


.bar_score
{
    display: inline-block;
    width: 70px;
    height: 20px;
    margin-top: 10px;
    margin-left: 12.5%;
    float: left;
    color: #000;
}


.bar_timer
{
    display: inline-block;
    width: 70px;
    height: 20px;
    margin-top: 10px;
    margin-left: 12.5%;
    float: left;
    color: #dc2b20;
    font-size: 1.2em;
    font-style: bold;
    line-height: 20px;

}