 <div class="jumbotron text-center">
       
        <img src="img/logoGOT.png" alt="logoGoT" width="35%">
        
       
        
        <p class="normaltext">Choose your theme</p>
        <div>
        <a href="#">
          <div class="imgbutton">

            <div class="imgtext">
              STARK // THEME01

            </div>
          </div>
        </a>

       <div> 
          


<div>
        <a href="#">
          <div class="imgbutton">

            <div class="imgtext">
              LANNISTER // THEME02

            </div>
          </div>
        </a>

       <div> 

          <img src="img/stark.jpg" width="25%"><img src="img/lannister.jpg" width="25%"><img src="img/baratheon.jpg" width="25%"><img src="img/targaryen.jpg" width="25%">

          <p><a class="btn btn-lg btn-success" ng-href="#/q1">Start Quiz</a></p>
      </div>