 <div class="jumbotron text-center">
        <h1>Question 01</h1>
        <p class="lead">
          <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
         Winter is Comming.
        </p>
        <p><a class="btn btn-lg btn-success" ng-href="#/q1">Stark</a></p>
       <p><a class="btn btn-lg btn-success" ng-href="#/q1">Bill</a></p>
       <p><a class="btn btn-lg btn-success" ng-href="#/q1">Bob</a></p>
       <p><a class="btn btn-lg btn-success" ng-href="#/q1">Dadelus</a></p>
      </div>
