<head> 
<!--- Angular Material -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material/min.css"> 
</head>
<div class="jumbotron text-center">
     <script src="../app/logic/logic_temp.js">
    
     </script>
        <h1>Question 01</h1>
     
        <p class="lead">
          <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        <p id="q1_head">
        Winter is Coming.
        </p>
        <p id="q2_head">
        Stuff.
        </p>
        </p>
       
           
       <!--- Start btn group --->
<div ng-controller="AppCtrl">
    <md-content>
    <section layoutt="row" layout-sm="column" layout-align="center center">
        <md-button>Rob Stark</md-button>
        </section>    
    </md-content>
    </div>
      <!--- End btn group --->
      </div>