<head>
<style>
.imageblock
    {
    }
    
    
    </style>
</head>
<div>
  <div>
    Question Number: {{questionnumber}}
  </div>
    
  <div  ng-controller="imagecontroller">
    <a ng-click="prevButton()">prevButton</a>
    <img ng-src="{{availableImages[currentImage].src}}"/>
    <a ng-click="nextButton()">nextButton</a>
    <br/>
    currentImage: {{currentImage}}
</div>
    
    </div> 
    <!--- New Div for Images - Ivor --->
    <div class='questioncontainer_txt'>
        {{question}}
    </div>
        <!--- Additon of Image Array End --->
  <div>

    
  </div>
  <div>

      
       <!--- Defult--->
      <a 
      ng-repeat="answer in answers" 
      style="display:block; color:blue" 
      ng-click="answerquestion(answer.AnswerId, answer.Answer, check)">
      
      <p>{{answer.AnswerId}} - {{answer.Answer}}</p>
      <p class='test'>{{check}}</p>
    </a>
    <!--- Defult--->
  </div>

</div>